name: Auto Assign
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/auto-assign@v3
        with:
          GITHUB_TOKEN: ${{ secrets.PAT_WITH_ORG_ACCESS }}
          # using the `org/team_slug` or `/team_slug` syntax to add git team as reviewers
          reviewers: | 
            SourceGold/zyd2001
            SourceGold/johnw08
          numberOfReviewers: 2
          addAssignees: false
          skipKeywords: wip, draft
